<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-lg-12 layout-spacing">
            <div class="statbox widget box box-shadow">
                <div class="widget-header">
                    <div class="row">
                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                            <h4 class="pb-0">Stories</h4>
                        </div>
                    </div>
                </div>
                <div class="widget-content widget-content-area">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div id="content_1" class="tabcontent story-area">
                                <div class="story-container-1">
                                    <div class="single-create-story">
                                        <img src="https://bootdey.com/img/Content/avatar/avatar1.png"
                                            class="single-create-story-bg">
                                        <div class="create-story-author">
                                            <i class="fa fa-plus-circle fa-2x text-info"></i>
                                            <p>Create a story</p>
                                        </div>
                                    </div>
                                    <div class="single-story"
                                        *ngFor="let story of stories; index as i; first as isFirst">
                                        <img [src]="story.uuid" class="single-story-bg">
                                        <div class="story-author">
                                            <!-- <img src="https://bootdey.com/img/Content/avatar/avatar2.png"> -->
                                            <p>{{story.fullName}}</p>
                                        </div>
                                    </div>
                                    <!-- <div class="single-story">
                                        <img src="http://192.168.0.102:9000/imagetest1/73015b1e-9930-4d80-ba59-da90e6b7e3de" class="single-story-bg">
                                        <div class="story-author">
                                           
                                            <p>gdfsgdfg</p>
                                            
                                        </div>
                                    </div> -->

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="stories">

    <!-- <div class="card bg-dark text-white mine">
        <input type="file" id="storyUpload" accept="image/*" ng2FileSelect [uploader]="uploader"
            (change)="onFileSelected($event)" #file>
        <div class="card-img" alt="..."></div>
        <button class="btn card-img" (click)="file.click()">
            <h5 class="card-title" style="color:#65b1f0;">Add Story</h5>
        </button>

    </div> -->

    <input style=" display: none" type="file" name="image" ng2FileSelect [uploader]="uploader"
        accept="image/x-png,image/gif,image/jpeg" #fileInput>
    <button class="btn btn-primary custom" (click)="fileInput.click()">Upload a story</button>
    <button class="btn btn-primary custom" type="button" (click)="onUpload()"
        [disabled]="!uploader.getNotUploadedItems().length">Confirm</button>
</div>