version: "3"
services:
  nginx:
    image: nginx
    restart: unless-stopped
    ports:
      - 3334:3334
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - account-service
      - status-service
      - story-service

  frontend:
      container_name: frontend
      build: ./frontend
      restart: unless-stopped
      ports:
           - 4200:4200
      depends_on:
          - nginx

  db-account:
    image: mongo:4.0-xenial
    ports:
      - 27020:27017
    volumes:
      - account:/data/db
    # environment:
    #   MONGO_INITDB_ROOT_USERNAME: root
    #   MONGO_INITDB_ROOT_PASSWORD: password
    #   MONGO_INITDB_ROOT_DATABASE: root-db
  db-status:
    image: mongo:4.0-xenial
    ports:
      - 27018:27017
    volumes:
      - status:/data/db
    # environment:
    #   MONGO_INITDB_ROOT_USERNAME: root
    #   MONGO_INITDB_ROOT_PASSWORD: password
    #   MONGO_INITDB_ROOT_DATABASE: root-db
  db-story:
    image: mongo:4.0-xenial
    ports:
      - 27019:27017
    volumes:
      - story:/data/db
    # environment:
    #   MONGO_INITDB_ROOT_USERNAME: root
    #   MONGO_INITDB_ROOT_PASSWORD: password
    #   MONGO_INITDB_ROOT_DATABASE: root-db

  # storyobjectdb:
  #   image: minio/minio:latest
  #   environment:
  #     - MINIO_ROOT_USER=2ZzQptFVVYFONjgf
  #     - MINIO_ROOT_PASSWORD=cpcpOT8zq813wumygPD4q5nVZEDcMUkt
  #   command: server --address 0.0.0.0:9000 /story

  storyobjectdb:
    image: minio/minio
    ports:
      - "9000:9000"
    volumes:
      - ./test/.minio/data:/export
      - ./test/.minio/config:/root/.minio
    environment:
      - MINIO_ROOT_USER=minioadmin
      - MINIO_ROOT_PASSWORD=minioadmin
    command: server --address 0.0.0.0:9000 /data

  # createbuckets:
  #   image: minio/mc
  #   depends_on:
  #     - storyobjectdb
  #   entrypoint: >
  #     /bin/sh -c "
  #     /usr/bin/mc config host add myminio http://minio:9000 minioadmin minioadmin;
  #     /usr/bin/mc rm -r --force myminio/minifb;
  #     /usr/bin/mc mb myminio/minifb;
  #      /usr/bin/mc policy set public myminio/minifb;
  #     /usr/bin/mc policy download myminio/minifb;
  #     exit 0;
  #     "
 
  account-service:
    build: ./userMS
    restart: unless-stopped
    # ports:
    #   - 3000:3000
    depends_on:
      - db-account
    environment:
      DB_URL: mongodb://db-account:27017/MiniFacebookUserDatabase

  status-service:
    build: ./statusMS
    restart: unless-stopped
    # ports:
    #   - 3001:3001
    depends_on:
      - account-service
      - db-status
    environment:
      DB_URL: mongodb://db-status:27017/MiniFacebookStatus
  story-service:
    build: ./storyMS
    restart: unless-stopped
    # ports:
    #   - 3002:3002
    depends_on:
      - db-story
      - account-service
      - storyobjectdb
    environment:
      DB_URL: mongodb://db-story:27017/MiniFacebookStory
  
  
volumes:
  status:
  story:
  account: